.footer {
	@apply border-t border-blue-light-1 relative;
	&__img {
		@apply absolute;
		z-index: -10;
		left: 50%;
		transform: translateX(-50%);
	}
	&__content {
		@apply px-5 relative z-10 top-[50px] left-1/2 translate-x-[-50%] max-w-[1240px]  w-full;
	}
	&__menus {
		.active {
			@apply font-semibold text-primary;
		}
	}
}

@media only screen and (max-width: 992px) {
	.footer {
		@apply py-[50px];
		&__content {
			@apply relative top-[unset];
		}
	}
}
