.footer {
	@apply border-t border-blue-light-1 relative overflow-hidden py-[50px];
	background: url("../../../assets/img/footer.png");
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;

	&__content {
		@apply px-5 relative z-10   left-1/2 translate-x-[-50%] max-w-[1240px]  w-full;
	}
	&__menus {
		.active {
			@apply font-semibold text-primary;
		}
	}
}

@media only screen and (max-width: 992px) {
	.footer {
		@apply py-[50px] bg-none;
		&__content {
			@apply relative top-[unset];
		}
	}
}
